body {
  background: linear-gradient(
    252.34deg,
    rgba(241, 184, 210, 0.74) -4.03%,
    rgba(149, 187, 233, 0.79) 112.41%
  );
  font-family: "Inter", sans-serif;
}

.about {
  margin-top: 80px;
  margin-bottom: 60px;
}

.page-content {
  padding-left: 120px;
  padding-right: 80px;
}

footer {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

/* responsive */
@media screen and (max-width: 992px) {
  .content-pertama {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .page-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
